@import "fonts.css";

body {
    background: #fff;
    font-size: 15px;
    font-family: "opensans", sans-serif;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    background: #f7e296;
    margin-top: 40px;
    position: relative;
    padding: 60px;
}
.header__logo {
    position: absolute;
    left: 60px;
    top: -22px;
    color: #000000;
    text-decoration: none;
    font-family: "Gilroy", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
}
.header__logo:hover {
    opacity: .6;
}
.header__logo:active {
    opacity: .3;
}

.user-list,
.service-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.user-list__item,
.service-list__item {
    display: flex;
    align-items: center;
}
.user-list__link,
.service-list__link {
    text-decoration: none;
}
.user-list__item--search,
.service-list__item--catalog {
    margin-right: auto;
}






.user-list__item--search::before {
    content: '';
    display: block;
    background: url("../img/search-black.png") no-repeat;
    width: 16px;
    height: 16px;
}

.user-list__item--login::before {
    content: '';
    display: block;
    background: url("../img/user-black.png") no-repeat center;
    width: 13px;
    height: 12px;
}

.user-list__item--compare::before {
    content: '';
    display: block;
    background: url("../img/compare-black.png") no-repeat center;
    width: 10px;
    height: 10px;
}

.user-list__item--cart::before {
    content: '';
    display: block;
    background: url("../img/cart-black.png") no-repeat center;
    width: 12px;
    height: 12px;
}